.glow-effect {
  /* --glow-line-color: #efeac3; */
  /* --glow-line-thickness: 2px; */
  /* --glow-line-length: 20px; */
  /* --glow-blur-color: #333fff; */
  /* --glow-blur-size: 5px; */
  /* --glow-offset: 0px; */
  /* --animation-speed: 1200ms; */
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
  display: block;
  /* position: absolute;
  inset: 0; */
}

.glow-container {
  display: block;
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
}

.glow-blur,
.glow-line {
  display: block;
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  /* rx: 1.25rem; */
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: calc(-3.5 * var(--glow-line-length));
  transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
  @apply stroke-primary-500;
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  @apply stroke-primary-500;
  stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover, :focus) .glow-container {
  animation: glow-visibility cubic-bezier(0.42, 1.03, 0.76, 0.4)
    var(--animation-speed);
  opacity: var(--final-opacity);
}

@keyframes glow-visibility {
  0% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: var(--final-opacity);
  }
}

.glow-effect[data-glow-animation="false"] {
  --glow-line-length: 50px;
}
.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
}

.glow-effect[data-glow-animation="grow"]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
}
